.container {
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;

  }

  .movies {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 2fr));
    grid-gap: 100px;
    padding: 50px;
    width: 80%;
    padding-top: 70px;
  }

.pagination {
  position: absolute;
  bottom: 25px;
  padding: 0;
  margin-top: 50px;

  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pagination li a{
  padding: 15px;
  font-size: 22px;
}

.pagination li a:hover{
  cursor: pointer;
  color: red;
}

.pagination li .focusing {
  color: red;
}