.container {
  height: 100%;
}

.slideBox{
  padding: 60px;
}

.slideTitle{
  text-align: center;
  font-size: 42px;
  margin-top: 20px;
}

.slideTitle a{
  display: flex; 
  flex-direction: row;
  justify-content: center;
  font-size: 40px;
  margin-bottom: 30px;
}

.titleIcon{
  margin-right: 20px;
  
}

.slideTitle:hover{
  transform: scale(1.1);
}

@media screen and (max-width:767px){
  .slideBox{
    padding: 30px;
  }
  
  .slideTitle span{
    font-size: 20px;
  }
}

