.movie{
  background-color: #592d01;
  margin-bottom: 70px;
  padding: 20px;
  border-radius: 5px;
  color: #0f101d;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 2fr;
  grid-gap: 20px;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  transition: all 0.4s ease;
}

.movie > * {
    color: #4b4453;
  }

.movie:hover{
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.movie_img{
    position: relative;
    top: -50px;
    max-width: 250px;
    width: 100%;
    margin-right: 30px; 
}

.movie_title:hover{
    text-decoration: underline;
}

.movie_genres{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.movie_genres li{
    padding: 5px;
    margin: 0px 15px 10px 0px;
    font-size: 16px;
    background-color:#2d1905;
    border-radius: 5px; 
}