.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 4px 64px;
    align-items: center;
    left: 0;
    right: 0;
    background-color: #2F4F4F;
    z-index: 10; 
}

.title{
   display: flex;
}

.title a{
  font-size: 20px;
  padding: 4px 12px;
}

.title a:hover{
  color: #00FFFF;
  transition:color 200ms ease-in-out;
}

.logo{
  position: relative;
  top: 20%;
  font-size: 40px;
  text-shadow: 2px 2px #c7cdd4;
}

.logo:hover{
  transform: scale(1.1);
  transition: 200ms ease-in-out;
}


@media screen and (max-width:1023px){
  .movie_title{
    display: none;
  }
  .menu{
    border: 0;
    background: none;
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px){
  .menu{
    display: none;   
  }
}

@media screen and (max-width:767px){
  .container{
    padding: 4px 30px;
  }
  .logo{
    font-size: 20px;
  }
}