.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 4px 64px;
    align-items: center;
    left: 0;
    right: 0;
    background-color: #2F4F4F;
    z-index: 10; 
    position: fixed;  
}

.title{
   display: flex;
}

.movie_title a{
  font-size: 20px;
  padding: 4px 12px;
}

.movie_title a:hover{
  color: #00FFFF;
  transition:color 200ms ease-in-out;
}

.logo{
  position: relative;
  top: 20%;
  font-size: 40px;
  text-shadow: 2px 2px #c7cdd4;
}

.logo:hover{
  transform: scale(1.1);
  transition: 200ms ease-in-out;
}

.movie_title{
  list-style: none;
  display: flex;
}


@media screen and (max-width:1023px){
  .movie_title{
    display: none;
  }

  .menuIcon{
    border: 0;
    background: none;
    cursor: pointer;
  }

  .openMenu{
    width: 376px;
    height: 100%;
    position: fixed;
    background-color: #2F4F4F;
    top: 66px;
    right: 0px;
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

  .closeMenu{
    width: 376px;
    height: 100%;
    top: 66px;
    position: fixed;
    right: -376px;
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menuItem{
    width: 100%;
    padding: 20px;
    background-color: black;
  }
}

@media screen and (min-width: 1024px){
  .menu{
    display: none;
  }
}

@media screen and (max-width:767px){
  .container{
    padding: 4px 30px;
  }
  .logo{
    font-size: 20px;
  }

  .openMenu{
    width: 50%;
    background-color: #2F4F4F;
    top: 37px;
    right: 0px;
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

  .closeMenu{
    width: 376px;
    top: 37px;
    transition: 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menuItem{
    width: 95%;
    border-radius: 10px;
    font-size: 15px;
    margin-bottom: 5px;
  }
}